{{ define "main" }}
<div class="site--main">
    <header class="archive--header">
        <h1 class="post--single__title">{{.Title}}</h1>
        <h2 class="post--single__subtitle">{{.Params.description }}</h2>
    </header>
        <div id="bber"></div>
        <script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script type="text/javascript">
            var bbMemos = {
              memos : 'https://memos.loliko.cn/',
              limit : '30',
              creatorId:'1' ,
              domId: '',
            }
          </script>
<script>
var memosData = {
    dom:'#memos',
  }
  var bbMemo = {
  memos: 'https://memos.loliko.cn/',
  limit: '15',
  creatorId: '101',
  domId: '#bber',
  };
  if(typeof(bbMemos) !=="undefined"){
  for(var key in bbMemos) {
    if(bbMemos[key]){
      bbMemo[key] = bbMemos[key];
    }
  }
  }
  function loadCssCode(code){
  var style = document.createElement('style');
  style.type = 'text/css';
  style.rel = 'stylesheet';
  style.appendChild(document.createTextNode(code));
  var head = document.getElementsByTagName('head')[0];
  head.appendChild(style);
  }
  var limit = bbMemo.limit
  var memos = bbMemo.memos
  var mePage = 1,offset = 0,nextLength = 0,nextDom='';
  var bbDom = document.querySelector(bbMemo.domId);
  var load = ''
  if(bbDom){
  getFirstList() //首次加载数据
  meNums() //加载总数
  var btn = document.querySelector("button.button-load");
  btn.addEventListener("click", function () {
  btn.textContent= '加载中……';
  updateHTMl(nextDom)
  if(nextLength < limit){ //返回数据条数小于限制条数，隐藏
    document.querySelector("button.button-load").remove()
    return
  }
  getNextList()
  });
  }
  function getFirstList(){
  bbDom.insertAdjacentHTML('afterend', load);
  var bbUrl = memos+"api/v1/memo?creatorId="+bbMemo.creatorId+"&rowStatus=NORMAL&limit="+limit;
  fetch(bbUrl).then(res => res.json()).then( resdata =>{
  updateHTMl(resdata)
  var nowLength = resdata.length
  if(nowLength < limit){ //返回数据条数小于 limit 则直接移除“加载更多”按钮，中断预加载
    document.querySelector("button.button-load").remove()
    return
  }
  mePage++
  offset = limit*(mePage-1)
  getNextList()
  });
  }
 
  // 插入 html 
  function updateHTMl(data){
  var result="",resultAll="";
  const TAG_REG = /#([^\s#]+?) /g
  , IMG_REG = /\!\[(.*?)\]\((.*?)\)/g //content 内 md 格式图片
  , LINK_REG = /\[(.*?)\]\((.*?)\)/g //链接新窗口打开
  marked.setOptions({
    breaks: false,
    smartypants: false,
    langPrefix: 'language-',
    headerIds: false,
    mangle: false
  });
  for(var i=0;i < data.length;i++){
      var memo_id = data[i].id; //评论调用
      var bbContREG = data[i].content
      .replace(TAG_REG, "")
      .replace(IMG_REG, '')
      .replace(LINK_REG, '<a href="$2" target="_blank">$1</a>')
      bbContREG = marked.parse(bbContREG)
      //解析 content 内 md 格式图片
      var IMG_ARR = data[i].content.match(IMG_REG) || '',IMG_ARR_Grid='';
      if(IMG_ARR){
        var IMG_ARR_Length = IMG_ARR.length,IMG_ARR_Url = '';
        if(IMG_ARR_Length !== 1){var IMG_ARR_Grid = " grid grid-"+IMG_ARR_Length}
        IMG_ARR.forEach(item => {
            let imgSrc = item.replace(/!\[.*?\]\((.*?)\)/g,'$1')
            IMG_ARR_Url += '<figure class="gallery-thumbnail"><img loading="lazy" decoding="async" class="img thumbnail-image" loading="lazy" decoding="async" src="'+imgSrc+'"/></figure>'
        });
        bbContREG += '<div class="resimg'+IMG_ARR_Grid+'">'+IMG_ARR_Url+'</div>';
      }
      //解析内置资源文件
      if(data[i].resourceList && data[i].resourceList.length > 0){
        var resourceList = data[i].resourceList;
        var imgUrl='',resUrl='',resImgLength = 0;
        for(var j=0;j < resourceList.length;j++){
          var restype = resourceList[j].type.slice(0,5)
          var resexlink = resourceList[j].externalLink
          var resLink = '',fileId=''
          if(resexlink){
            resLink = resexlink
          }else{
            fileId = resourceList[j].publicId || resourceList[j].filename
            resLink = memos+'o/r/'+resourceList[j].id+'/'+fileId
          }
          if(restype == 'image'){
            imgUrl += '<img loading="lazy" decoding="async" class="img thumbnail-image" src="'+resLink+'"/>'
            resImgLength = resImgLength + 1 
          }
          if(restype !== 'image'){
            resUrl += '<a target="_blank" rel="noreferrer" href="'+resLink+'">'+resourceList[j].filename+'</a>'
          }
        }
        if(imgUrl){
          var resImgGrid = ""
          if(resImgLength !== 1){var resImgGrid = "grid grid-"+resImgLength}
          bbContREG += '<div class="resimg '+resImgGrid+'">'+imgUrl+'</div></div>'
        }
        if(resUrl){
          bbContREG += '<p class="datasource">'+resUrl+'</p>'
        }
      }
      result += `
      <article class='post--item post--item__status'> <div class='content'>
      <header>
      <img src="{{ .Site.Params.authorAvatar }}" class="avatar" width="48" height="48" />
      <p class="humane--time">${moment(data[i].createdTs * 1000).twitterLong()}</p>
      </header>
      <div class="description" itemprop="about">
      <p>${bbContREG}</p>
      </div>
    </div></article>
`;
  } // end for
  var bbBefore = "";
  var bbAfter = "  ";
  resultAll = bbBefore + result + bbAfter;
  bbDom.insertAdjacentHTML('beforeend', resultAll);
  animateSummaries(); // 在DOM加载完毕后执行滑动加载动画
  document.querySelector('button.button-load').textContent = '看更多 ...';
  }
</script>
<script type="text/javascript" src="https://blogcdn.loliko.cn/memo/js/moment.min.js?v=2.2"></script>
<script type="text/javascript" src="https://blogcdn.loliko.cn/memo/js/moment.twitter.min.js"></script>
<script src="https://blogcdn.loliko.cn/memo/js/view-image.min.js"></script>
<style>
.thumbnail-image {
    width: 200px; /* 或者您想要的任何尺寸 */
    height: 200px; /* 容器的高度和宽度相等，形成正方形 */
    overflow: hidden; /* 隐藏溢出容器的部分 */
    position: relative; /* 图片将相对于该容器定位 */
    display: flex; /* 使用flex布局居中图片 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
.resimg {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 创建三列，每列等宽 */
    gap: 10px; /* 设置列与行之间的间隔 */
}
.thumbnail-image img {
    min-width: 100%; /* 至少覆盖容器的宽度 */
    min-height: 100%; /* 至少覆盖容器的高度 */
    max-width: 150%; /* 允许图片覆盖容器，确保居中显示 */
    max-height: 150%; /* 允许图片覆盖容器，确保居中显示 */
    object-fit: cover; /* 保持图片的宽高比 */
    position: absolute; /* 相对于容器绝对定位 */
}    
</style>  
</div>
{{ end }}